div {
    border: 1px solid;
    padding: 5px;
}
.sidebar{
    background-color: lightblue;

}

.main{
    background-color: gray;
}

.header{
    background-color: yellow;
}

.footer {
    background-color: lightgreen;
}
